In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder

In [ ]:
data = pd.read_csv("50_Startups.csv")

In [ ]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
one_hot_encoded_data = pd.get_dummies(data,columns = ["State"])
x=one_hot_encoded_data.drop(["Profit"],axis=1)
y=one_hot_encoded_data[["Profit"]]
print(y)

       Profit
0   192261.83
1   191792.06
2   191050.39
3   182901.99
4   166187.94
5   156991.12
6   156122.51
7   155752.60
8   152211.77
9   149759.96
10  146121.95
11  144259.40
12  141585.52
13  134307.35
14  132602.65
15  129917.04
16  126992.93
17  125370.37
18  124266.90
19  122776.86
20  118474.03
21  111313.02
22  110352.25
23  108733.99
24  108552.04
25  107404.34
26  105733.54
27  105008.31
28  103282.38
29  101004.64
30   99937.59
31   97483.56
32   97427.84
33   96778.92
34   96712.80
35   96479.51
36   90708.19
37   89949.14
38   81229.06
39   81005.76
40   78239.91
41   77798.83
42   71498.49
43   69758.98
44   65200.33
45   64926.08
46   49490.75
47   42559.73
48   35673.41
49   14681.40

In [ ]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train ,y_test = train_test_split(x,y,test_size=0.2, random_state=42)

In [ ]:
x_train
y_train

       Profit
12  141585.52
4   166187.94
37   89949.14
8   152211.77
3   182901.99
6   156122.51
41   77798.83
46   49490.75
47   42559.73
15  129917.04
9   149759.96
16  126992.93
24  108552.04
34   96712.80
31   97483.56
0   192261.83
44   65200.33
27  105008.31
33   96778.92
5   156991.12
29  101004.64
11  144259.40
36   90708.19
1   191792.06
21  111313.02
2   191050.39
43   69758.98
35   96479.51
23  108733.99
40   78239.91
10  146121.95
22  110352.25
18  124266.90
49   14681.40
20  118474.03
7   155752.60
42   71498.49
14  132602.65
28  103282.38
38   81229.06

In [ ]:
y_test

       Profit
13  134307.35
39   81005.76
30   99937.59
45   64926.08
17  125370.37
48   35673.41
26  105733.54
25  107404.34
32   97427.84
19  122776.86

In [ ]:
reg = LinearRegression()

In [ ]:
reg.fit(x,y)
print(reg.intercept_) 
print(reg.coef_)

[50177.64442285]
[[ 8.06023114e-01 -2.70043196e-02  2.69798610e-02 -5.23005912e+01
   1.46488202e+02 -9.41876104e+01]]

In [ ]:
y_pred = reg.predict(x)
print(y_pred)

[[192390.57136321]
 [189071.32010494]
 [182276.18673283]
 [173584.97618975]
 [172277.13381666]
 [163473.8071184 ]
 [158099.29278417]
 [160155.64464939]
 [151634.74332631]
 [154829.66252708]
 [135664.64259063]
 [135528.60078159]
 [129282.91780691]
 [127431.24898632]
 [149694.3827755 ]
 [146143.63551378]
 [116854.0745287 ]
 [130085.40993359]
 [129149.72574273]
 [115594.18840731]
 [116570.73444001]
 [117201.50508975]
 [114833.30513844]
 [110123.79610587]
 [113294.37345154]
 [102200.26891867]
 [110765.3011688 ]
 [114279.80403012]
 [101818.58738693]
 [101721.04202941]
 [ 99629.0105373 ]
 [ 97617.29632021]
 [ 98988.23660304]
 [ 98061.35894838]
 [ 88974.70416296]
 [ 90420.00960609]
 [ 75423.09286561]
 [ 89577.70222194]
 [ 69606.52160902]
 [ 83684.9760399 ]
 [ 74762.74617648]
 [ 74956.31104907]
 [ 70575.99371382]
 [ 60100.2682187 ]
 [ 64585.14721293]
 [ 47588.36470994]
 [ 56272.99268497]
 [ 46468.23200485]
 [ 49123.07308284]
 [ 48185.0387926 ]]

In [ ]:
rmse = np.sqrt((mean_squared_error(y_pred,y)))
print(rmse)

8854.761029414494

In [ ]:
r2score = reg.score(x,y)
print(r2score)

0.9507524843355148